.iphone-portrait {
  position: relative;
  height: 796px;
  width: 380px;
  margin: 0px auto;
}

.iphone-pic, .hide-scroll, #iphone {
  position: absolute;
}
.hide-scroll {
  background-image: url(/images/fixscroll.png);
  height:779px;
  width:29px;
  margin-left:93%;
  margin-top:3%;
}

#iphone {
  width: 321px;
  height: 574px;
  margin-top: 30%;
  margin-left: 8%;
  // z-index: 999;
}

#spinner { height: 300px; }

.h-300 {
  min-height: 300px !important;
}

body {
  margin-top: 70px;
  margin-bottom: 48px;
}

.in-out-buttons {
  margin: 10px auto;
}

.lock-screen-page {
  background-image: url(/images/iphone-lock-screen.png);
  position: absolute;
  background-size: 100%;
  height: 100%;
  width: 100%;
}

.lock-screen-app-title {
  position: absolute;
  margin-top: 77%;
  margin-left: 25%;
  font-size: 18px;
  color: #ffffff;
}

.lock-screen-app-text {
  position: absolute;
  margin-top: 85%;
  margin-left: 25%;
  font-size: 16px;
  color: #ffffff;
}

.preview-button {
  margin-top: 20px;
  text-decoration: none !important;
}



.fuelux .wizard {
  position: fixed;
  bottom: 0;
  // width: 100%;
  /* Set the fixed height of the footer here */
}

.fuelux .wizard ul li {
  cursor: pointer;
}