<template name="mobile">
  <div class="o-page">
    <div id="page">
      <!-- Header -->
      <div id="header">
        <a href="#menu"></a>
        <h1 class="brandname">{{mobile.title}}</h1>
        <a class="backBtn" href="javascript:history.back();"></a>
      </div>
      <div class="subHeader"><i class="i-home i-small"></i>Welcome friend!</div>

      <!-- Banner -->
      <div class="bannerPane">
        <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            {{#each mobile.imageUrls}}
              {{> slide}}
            {{/each}}
          </ul>
        </div>
        </section>
      </div>
      <!-- End Banner -->

      <!-- Content -->
      <div id="content">
      {{#each tags}}
        {{> tag}}
      {{/each}}
      </div>
      <div class="block">
        Explore our site
      </div>

      <div class="exploreSiteFullPane">

        <a href="#" class="explorePane active">
          <span class="i-pane i-blue">
            <i class="i-home"></i>
          </span>
          <h4>Home</h4>
        </a>
        <a href="#" class="explorePane middle">
          <span class="i-pane i-blue">
            <i class="i-about"></i>
          </span>
          <h4>About</h4>
        </a>
        <a href="#" class="explorePane">
          <span class="i-pane i-blue">
            <i class="i-blog"></i>
          </span>
          <h4>Blog</h4>
        </a>
        <a href="#" class="explorePane">
          <span class="i-pane i-blue">
            <i class="i-gallery"></i>
          </span>
          <h4>Gallery</h4>
        </a>
        <a href="#" class="explorePane middle">
          <span class="i-pane i-blue">
            <i class="i-shortcodes"></i>
          </span>
          <h4>Shortcodes</h4>
        </a>
        <a href="#" class="explorePane">
          <span class="i-pane i-blue">
            <i class="i-contact"></i>
          </span>
          <h4>Contact</h4>
        </a>
      </div>

      <!-- Social Icons -->
      <div class="socialMedia scl-grey">
        <a href="#" class="ico-facebook" title="facebook">facebook</a>
        <a href="#" class="ico-twitter" title="twittertwitter">twitter</a>
        <a href="#" class="ico-linkedin" title="linkedin">linkedin</a>
        <a href="#" class="ico-gplus" title="gplus">gplus</a>
        <a href="#" class="ico-youtube" title="youtube">youtube</a>
        <a href="#" class="ico-tumblr" title="tumblr">tumblr</a>
        <a href="#" class="ico-pinterest" title="pinterest">pinterest</a>
      </div>

      <!-- Menu navigation -->
      <nav id="menu">
        <ul>
          <li class="Selected">
            <a href="#">
              <i class="i-home i-small"></i>Home
            </a>
          </li>
          <li>
            <a href="#">
              <i class="i-about i-small"></i>About
            </a>
          </li>
          <li>
            <a href="#">
              <i class="i-blog i-small"></i>Blog
            </a>
            <ul>
              <li><a href="blog-single-post.html">First Post</a></li>
              <li>
                <a href="blog-single-post.html">Second Post</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="i-gallery i-small"></i>Gallery
            </a>
          </li>
          <li>
            <a href="#">
              <i class="i-shortcodes i-small"></i>Shortcodes
            </a>
          </li>
          <li>
            <a href="#">
              <i class="i-contact i-small"></i>Contact
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>